@model BrekkenScan.Web.Models.Consume.ConsumeViewModel

<div class="index-wrapper">
    @await Html.PartialAsync("Partials/Wordcloud.cshtml", @Model)
    @await Html.PartialAsync("Partials/ConsumeRegister.cshtml", new Web.Models.Consume.ConsumeEditModel())
    @await Html.PartialAsync("Partials/ConsumeView.cshtml", @Model)
</div>