@model BrekkenScan.ViewModels.IndexModel

<div class="wrapper">
    <div class="boks-liten skygge">
        <i class="fas fa-glass-martini-alt"></i>
        <div class="boks-liten-innhold">
            <div class="boks-liten-tall">@Model.Totalt</div>
            <div class="boks-liten-tekst">Totalt</div>
        </div>
    </div>

    <div class="boks-liten skygge">
        <i class="fas fa-ambulance"></i>
        <div class="boks-liten-innhold">
            <div class="boks-liten-tall">@Model.IKveld</div>
            <div class="boks-liten-tekst">I kveld</div>
        </div>
    </div>

    <div class="boks-liten skygge">
        <i class="fas fa-rocket"></i>
        <div class="boks-liten-innhold">
            <div class="boks-liten-tall">@Model.PPHPT</div>
            <div class="boks-liten-tekst">PPHPT</div>
        </div>
    </div>
</div>