@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="wrapper">
    <div class="boks-liten skygge">
        <i class="fas fa-glass-martini-alt"></i>
        <div class="boks-liten-innhold">
            <div class="boks-liten-tall">1153</div>
            <div class="boks-liten-tekst">Totalt</div>
        </div>
    </div>

    <div class="boks-liten skygge">
        <i class="fas fa-ambulance"></i>
        <div class="boks-liten-innhold">
            <div class="boks-liten-tall">89</div>
            <div class="boks-liten-tekst">I kveld</div>
        </div>
    </div>

    <div class="boks-liten skygge">
        <i class="fas fa-rocket"></i>
        <div class="boks-liten-innhold">
            <div class="boks-liten-tall">3.45</div>
            <div class="boks-liten-tekst">PPHPT</div>
        </div>
    </div>
</div>