@page

<div class="index-wrapper">

    <div class="wordcloud"></div>

    <form id="form-consume" method="post">
        <div class="index-div-wrapper barcode-input-wrapper">
            <input type="text" name="barcode" placeholder="Strekkode" id="barcode-input" />
            <button type="submit"><i class="fas fa-glass-cheers"></i></button>
        </div>
    </form>

    <div class="index-div-wrapper">
        <div class="boks-liten visning-element">
            <i class="fas fa-glass-martini-alt"></i>
            <div class="boks-liten-innhold">
                <div class="boks-liten-tall">:-P</div>
                <div class="boks-liten-tekst">Totalt</div>
            </div>
        </div>

        <div class="boks-liten visning-element">
            <i class="fas fa-ambulance"></i>
            <div class="boks-liten-innhold">
                <div class="boks-liten-tall loading"></div>
                <div class="boks-liten-tekst">I kveld</div>
            </div>
        </div>

        <div class="boks-liten visning-element">
            <i class="fas fa-rocket"></i>
            <div class="boks-liten-innhold">
                <div class="boks-liten-tall">:-P</div>
                <div class="boks-liten-tekst">PPHPT</div>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/d3/d3.v3.js"></script>
<script src="~/lib/d3/d3.wordcloud.js"></script>
<script src="~/lib/d3/d3.layout.cloud.js"></script>
<script src="~/js/wordcloud/wordcloud.js"></script>
<script>
    let wc;
    window.onload = async function () {
        let consume = await readConsume();
        var tonight = document.getElementsByClassName('boks-liten-tall')[1];
        tonight.classList.remove('loading');
        tonight.innerHTML = consume.total;

        wc = wordcloud('div .wordcloud');
        wc.update(consume.result.map(c => c.product));
        document.getElementById("barcode-input").focus();
    };

    var form = document.getElementById('form-consume');

    form.addEventListener('submit', async event => {
        event.preventDefault();

        await postConsume(form);
        form.reset();

        let consume = await readConsume();
        document.getElementsByClassName('boks-liten-tall')[1].innerHTML = consume.total;
        console.log(consume.result);
        console.log(consume.result.map(c => c.product));
        wc.update(consume.result.map(c => c.product));
    });

    async function postConsume(form) {
        let request = createRequestFromForm(form);

        var response = await fetch('/api/consume', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(request)
        });

        return response;
    }

    function createRequestFromForm(form) {
        let request = {};
        for (let i = 0; i < form.length - 1; i++) {
            request[form[i].name] = form[i].value;
        }

        return request;
    }

    async function readConsume() {
        let response = await fetch('api/consume');
        return await response.json();
    }
</script>

