@page
@model BrekkenScan.Web.Pages.IndexModel

<div class="index-wrapper">
    @await Html.PartialAsync("Consume/_Wordcloud.cshtml", @Model)
    @await Html.PartialAsync("Consume/_ConsumeRegister.cshtml", @Model)
    @await Html.PartialAsync("Consume/_ConsumeView.cshtml", @Model)
</div>

