@page

<div class="index-wrapper">

    <div class="wordcloud"></div>

    <form id="form-consume" method="post">
        <div class="index-div-wrapper barcode-input-wrapper">
            <input type="text" name="barcode" placeholder="Strekkode" id="barcode-input" />
            <button type="submit"><i class="fas fa-glass-cheers"></i></button>
        </div>
    </form>

    <div class="index-div-wrapper">
        <div class="boks-liten visning-element">
            <i class="fas fa-glass-martini-alt"></i>
            <div class="boks-liten-innhold">
                <div class="boks-liten-tall loading"></div>
                <div class="boks-liten-tekst">Totalt</div>
            </div>
        </div>

        <div class="boks-liten visning-element">
            <i class="fas fa-ambulance"></i>
            <div class="boks-liten-innhold">
                <div class="boks-liten-tall loading"></div>
                <div class="boks-liten-tekst">I kveld</div>
            </div>
        </div>

        <div class="boks-liten visning-element">
            <i class="fas fa-rocket"></i>
            <div class="boks-liten-innhold">
                <div class="boks-liten-tall">N/A</div>
                <div class="boks-liten-tekst">PPHPT</div>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/d3/d3.v3.js"></script>
<script src="~/lib/d3/d3.layout.cloud.js"></script>
<script src="~/js/consume/consume.js" type="module"></script>
