@page "/Brands"
@model BrekkenScan.Web.Pages.Brands.BrandListingModel
@{
    ViewData["Title"] = "GetBrands";
}
<div class="brand-list-wrapper">

    <h2>Produkter</h2>


    <a asp-page="./Create" class="btn btn-primary create-brand">Opprett</a>

    <form method="get">
        <div class="form-group">
            <div class="input-group">
                <input type="search" asp-for="SearchCriteria" id="brand-search" class="form-control" placeholder="Strekkode eller navn" />
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-default">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </span>
            </div>
        </div>
    </form>


    <table class="table table-brands">
        <tr>
            <th>Strekkode</th>
            <th>Navn</th>
            <th></th>
        </tr>
        @foreach (var b in @Model.Brands)
        {
            <tr>
                <td>@b.Barcode</td>
                <td>@b.Name</td>
                <td><a class="btn btn-lg" asp-route-id="@b.Id" asp-page="./Edit"><i class="far fa-edit"></i></a></td>
            </tr>
        }
    </table>


</div>

<script>
    window.onload = function () {
        document.getElementById("brand-search").focus();
    };
</script>