.barcode-input-wrapper {
    border-radius: 2px;
    background-color: beige;
    box-shadow: 3px 3px 10px #242424;
    width: 100%;
}

.barcode-input-wrapper > input[type="text"] {
    margin: auto;
    color: #456597;
    background-color: beige;
    width: 500px;
    height: 50px;
    border: none;
    font-size: 24pt;
    font-weight: bold;
}

.barcode-input-wrapper > button {
    margin: auto;
    color: #456597;
    background-color: beige;
    vertical-align: middle;
    width: 60px;
    height: 50px;
    border: none;
}

.barcode-input-wrapper button i {
    font-size: 45px;
}
