/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */
body {
    background-color: #1e2e47;
    padding-top: 50px;
    padding-bottom: 20px;
}

.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.skygge {
    box-shadow: 3px 3px 10px #242424;
}

.boks-liten {
    border-radius: 2px;
    background-color: #456597;
    height: 150px;
    width: 280px;
    margin: 0.6em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.boks-liten i {
    color: beige;
    font-size: 55px;
    margin-right: 25px;
}

.boks-liten-innhold {
}

.boks-liten-tall {
    font-weight: bold;
    color: beige;
    font-size: 40pt;
    margin-bottom: 0;
    text-align: center;
}

.boks-liten-tekst {
    position: relative;
    top: -15px;
    margin-top: 0;
    font-weight: bold;
    color: beige;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

