@page
@model BrekkenScan.Web.Pages.Account.LoginModel
@{
}

<div class="login-wrapper">
    <h2>Vennligst logg inn</h2>

<form method="post">
    <div class="form-group">
        <label>Brukernavn</label>
        <input class="form-control" asp-for="Name" type="text" required />
        <div class="invalid-feedback">
            <span class="text-danger" asp-validation-for="Name"></span>
        </div>
        </div>
        <div class="form-group">
            <label>Passord</label>
            <input class="form-control" asp-for="Password" type="password" required />
            <span class="text-danger" asp-validation-for="Password"></span>
        </div>
        <input class="btn btn-success" value="Logg inn" type="submit" />
</form>
</div>