@model Web.Models.Consume.ConsumeEditModel

<form asp-action="RegisterConsume">
    <div class="index-div-wrapper barcode-input-wrapper">
        <input asp-for="Barcode" type="text" placeholder="Strekkode" class="barcode-input" id="barcode-input" />
        <button type="submit"><i class="fas fa-glass-cheers"></i></button>
    </div>
</form>