.table-brands {
    color: beige;
}

.button-back {
    float: right;
}

.brand-list-wrapper,
.brand-list-wrapper a,
.brand-list-wrapper input,
.login-wrapper,
.login-wrapper a,
.login-wrapper input,
.login-wrapper button {
    font-size: 20px;
}