<div class="index-div-wrapper barcode-input-wrapper">
    <form asp-action="Create">
        <input type="text" placeholder="Strekkode" class="barcode-input" />
        <button type="submit"><i class="fas fa-glass-cheers"></i></button>
    </form>
</div>