@model BrekkenScan.Web.Pages.IndexModel


<div class="index-div-wrapper wordcloud-wrapper">
    <div class="wordcloud">
    </div>
</div>

<script src="~/lib/d3/d3.v3.js"></script>
<script src="~/lib/d3/d3.wordcloud.js"></script>
<script src="~/lib/d3/d3.layout.cloud.js"></script>
<script src="~/js/wordcloud/drawWordcloud.js"></script>

<script type="text/javascript">

    var tonightsConsume = [];
    @foreach (var d in Model.Tonight)
    {
        @:tonightsConsume.push('@Html.Raw(d)');
    }

    CreateWordcloudOf(tonightsConsume);
</script>
