/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */

h2 {
    color: beige;
}

body {
    background-color: #1e2e47;
    padding-top: 50px;
    padding-bottom: 20px;
}

h2 {
    color: beige;
}

label{
    color: beige;
}

.index-wrapper {
    margin: auto;
    max-width: 900px;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.index-div-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 25px;
}

.visning-element {
    border-radius: 2px;
    background-color: #456597;
    box-shadow: 3px 3px 10px #242424;
    color: beige;
}

.visning-element-invertert {
    border-radius: 2px;
    background-color: beige;
    box-shadow: 3px 3px 10px #242424;
    color: #456597;
}

.boks-liten {
    height: 150px;
    width: 280px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.boks-liten i {
    color: beige;
    font-size: 55px;
    margin-right: 25px;
}

.boks-liten-tall {
    font-weight: bold;
    color: beige;
    font-size: 40pt;
    margin-bottom: 0;
    text-align: center;
}

.boks-liten-tekst {
    position: relative;
    top: -15px;
    margin-top: 0;
    font-weight: bold;
    color: beige;
}

.barcode-input-wrapper {
    border-radius: 2px;
    background-color: beige;
    box-shadow: 3px 3px 10px #242424;
}

.barcode-input {
    margin: auto;
    color: #456597;
    background-color: beige;
    width: 500px;
    height: 50px;
    border: none;
    font-size: 24pt;
    font-weight: bold;
}

.barcode-input-wrapper button {
    margin: auto;
    color: #456597;
    background-color: beige;
    vertical-align: middle;
    width: 60px;
    height: 50px;
    border: none;
}

.barcode-input-wrapper button i {
    font-size: 45px;
}

.wordcloud {
    height: 400px;
    width: 100%;
    color: beige;
    margin-bottom: 20px;
}

.wordcloud svg {
    color: beige;
}

.login-wrapper {
    height: 90vh;
    max-width: 900px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin:auto;
    padding: 0 20px 0 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.table-brands {
    color: beige;
}

.button-back {
    float: right;
}